crewnet_token="<access token>"
crewnet_event_id=<crewnet event id, get by invoking GET /v1/events>
# alternative: api.cn-test.dk
crewnet_apidomain=api.crewnet.dk

odoo_hostname=<odoo hostname>
odoo_db="prod"
odoo_uid="<odoo userid>"
odoo_password="<odoo password/api key>"

dry_run=true